body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#8caabb;
    color:  #000000d0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
}

h1, h2, h3 {
    color: #f5f3f3d0;
}

nav {
    background-color: #01053f;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-links a {
    color:  #b6cbd8;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
    margin: 0 10px;
}

.nav-links a:hover {
    color: #ffffff;
}

.nav-toggle {
    display: none;
    cursor: pointer;
    color:  #f5f3f3d0;
    font-size: 20px;
}

section {
    padding: 40px 0;
}

.project-card {
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
}

footer {
    background-color: #00032e;
    color: #ffffff;
    padding: 2px 0;
    text-align: center;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #4e88b4;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .nav-toggle {
        display: block;
    }
}
