body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#01053f;
    color:  #eee8e8;
}
.name {
    color: rgb(178, 209, 250);
    font-weight: bold;
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
}
.name:hover {
    color: #ffffff;

}
.links{
    color: rgb(187, 214, 250);
    font-weight: bold;
    font-family: Arial;
    font-size: 18px;
    text-decoration: none;
}
.links:hover{
    color: #ffffff;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;
}

header {
    text-align: center;
}

h1, h2, h3 {
    color: #c5c5c5;
}

nav {
    background-color: #01053f;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-links a {
    color:  #b6cbd8;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    transition: color 0.3s ease;
    margin: 0 10px;
}
p{
    font-size: 16px;
}

.nav-links a:hover {
    color: #ffffff;
}

.nav-toggle {
    display: none;
    cursor: pointer;
    color:  #f5f3f3d0;
    font-size: 20px;
}

section {
    padding: 40px 0;
}

footer {
    background-color: #00032e;
    color: #ffffff;
    padding: 2px 0;
    text-align: center;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #4e88b4;
}
